<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      h1 {
        font-size: 80px;
      }
      .center {
        text-align: center;
      }
    </style>
    <title>Should I do responsible disclosure?</title>
  </head>
  <body>
    <div class="center">
      <h1>No.*</h1>
      <p>*<a href="https://www.gesetze-im-internet.de/stgb/__202a.html">https://www.gesetze-im-internet.de/stgb/__202a.html</a></p>
    </div>
  </body>
</html>
