<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/style.css" />
  <title>Should I do responsible disclosure?</title>
</head>

<body>
  <main>
    <hgroup class="center">
      <h1> No.*</h1>
      <p class="footnote">
        *At least not to these guys, because they might sue you
        <a href="https://www.gesetze-im-internet.de/stgb/__202c.html">under german law</a>**:
      </p>
    </hgroup>
    <dl>
      {{range .}}
      <dt>{{.Name}}</dt>
      <dd><a href="{{.Src}}" target="_blank">{{.Src}}</a></dd>
      {{end}}
    </dl>
    <hr />
    <p class="footnote">
      **This is not legal advice. Just be careful what you are doing out there!
    </p>
    <dialog id="butiwanna-modal">
      <p>
        Why not take a look at open source software? Usually it is easier to
        find and exploit vulnerabilities if you can look at the code! Also, open
        source communities are by nature more welcoming towards meaningful
        contributions.
      </p>
      <p>
        If you did find a vulnerability in a proprietary software or library, an
        option would be to disclose it without revealing your identity. The
        Chaos Computer Club can help you with that:
        <a href="https://www.ccc.de/disclosure" target="_blank">https://www.ccc.de/disclosure</a>
      </p>
      <form method="dialog">
        <button>OK</button>
      </form>
    </dialog>
  </main>
  <footer class='center'>
    <a href="#" onclick="document.getElementById('butiwanna-modal').showModal()">But me wanna hack!</a>
    | <a href="/submit">submit</a> another case
  </footer>
</body>

</html>
